#div_escolaridades { float:left; display:inline; width:780px; }
#div_escolaridades .linha { margin-right: 65px; }

.conteudo_trabalhe span.msg_error { color: #FF0000; display: inline; float: left; font-size: 10px; font-weight: bold; width: 100%; }
.conteudo_trabalhe input.input_error { color: #FF0000; display: inline; float: left; }

.flash_messages { position:absolute; width:100%; top:160px; z-index:99999999; font-size:13px; }
.flash_messages .alert { width:300px; padding:8px 35px 8px 14px; margin:0 auto; background:white; border:2px solid #E0E0E0; border-radius:10px; -o-border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; }
.flash_messages .close { position:relative; float:right; text-decoration:none; font-weight:bold; color:#666; line-height:20px; font-weight:bold; font-size:20px; top:-2px; right:-21px; }
.flash_messages .alert { background-color:#FCF8E3; border:1px solid #FBEED5; color:#C09853; }
.flash_messages .alert-error { background-color:#F2DEDE; border:1px solid #EED3D7; color:#B94A48; }
.flash_messages .alert-success { background-color:#DFF0D8; border:1px solid #D6E9C6; color:#468847; }
.flash_messages .alert-info { background-color:#D9EDF7; border:1px solid #BCE8F1; color:#3A87AD; }

#div_especializacao, #div_cursos_adicionais, #div_empresa, #div_escolaridades { width:781px; }