{# ------------------------------------------------------------------------------------------------------------------------------------- #}
{# Extende o layout #}
{# ------------------------------------------------------------------------------------------------------------------------------------- #}
{% extends 'layout/layout' %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}
{# TITLE #}
{# ------------------------------------------------------------------------------------------------------------------------------------- #}
{% block title %}{{ parent() }} - Notícias{% endblock title %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}
{# CONTENT #}
{# ------------------------------------------------------------------------------------------------------------------------------------- #}
{% block content %}
    <h1>Página de notícias</h1>
    
    {% for noticia in noticias %}
        
        <p>{{ noticia.titulo }}</p>
        <p>{{ noticia.descricao }}</p>
        <hr>
        
    {% else %}
        <p>Nenhuma notícia encontrada!</p>
    {% endfor %}
{% endblock content %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}
{# JAVASCRIPT (inline) #}
{# ------------------------------------------------------------------------------------------------------------------------------------- #}
{% block inlineScript %}
    {{ parent() }}
{% endblock inlineScript %}
