{% extends 'layout/layout' %}

{% block title %}{{ parent() }} - Home{% endblock title %}

{% block content %}
    <h2>layout front-end</h2>
    <br><br><a href="{{ url('noticias') }}">Página de notícias</a><br><br><br>
{% endblock %}
